.hero {
  background-color: var(--hero-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-mob.jpg);
  max-width: 480px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @include retina {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
  @include tablet {
    max-width: 768px;
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
    }
    padding-top: 200px;
    padding-bottom: 200px;
  }
  //   url(../images/hero-bg.jpg);
  // background: var(--hero-background);
  // background-image: linear-gradient(
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../images/hero-bg.jpg);
  // max-width: 1600px;
  // margin: 0 auto;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // padding-bottom: 200px;
  // padding-top: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--special-text-color);
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // text-align: center;
  // letter-spacing: 0.06em;
  // text-transform: uppercase;
  // color: var(--special-text-color);
  // max-width: 696px;
  // margin: 0 auto;
  // margin-bottom: 30px;
}
.hero__btn {
  display: flex;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include desktop {
    padding: 10px 32px;
  }
  &:hover,
  &:focus {
    background-color: var(--accent-background);
  }

  // display: flex;
  // padding: 10px 32px;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  // &:hover,
  // &:focus {
  //   background-color: var(--accent-background);
  // }
}
