.peculiarities__description {
  display: flex;
}
.description__item:not(:last-child) {
  margin-right: 30px;
}
.description__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-background);
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.description__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.description__text {
  max-width: 270px;
  line-height: 1.71;
  color: var(--text-color);
}
